# See http://help.github.com/ignore-files/ for more about ignoring files.

# Custom project excludes
app/layout/*/translations/*
package-lock.json
tooling/config/*.json
!tooling/config/*.dist.json
/cache/
/documentation.json
/storybook-static

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
app/vendor/**/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
*.launch
*.sublime-workspace
.buildpath
.c9/
.classpath
.externalToolBuilders
.project
.settings/
/.idea
**/nbproject

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# FTP data dir
/data

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.komodo*
.Spotlight-V100
.Trashes

# PHP
composer.lock
phpunit.xml
*.php.pid
**.pid
**/*.pid
/conf
/vendor/*

# System Files
.DS_Store
Thumbs.db
**/ehthumbs.db
**/Thumbs.db
