.app-messages-message {

	&,
	&.alert { // Temporary fix until alert CSS is here
		margin: 0;
	}

	&__action {
		margin-top: 0.25rem;
	}

	&__alert--blink {
		animation: blinker 5s linear infinite;

		&.alert-danger {
			color: #ffffff;
			background-color: #ff0000;
		}
	}

	&#{&}--small {
		padding: 0.25rem 0.5rem;
	}

	@keyframes blinker {
		50% {
			background-color: #ffffff;
			color: #000000;
		}
	}
}
